{% extends 'base.html'%}

{% block title %}
  Primary Page
{% endblock %}

{% block body %}

<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <img src="/static/Images/logo.png" alt="" height="32">
        <span class="fs-4">Double header</span>
      </a>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <a class="btn btn-warning" href="/create-article">Create</a>
      </form>
    </div>
  </header>
{% endblock %}